@media (min-width: 1367px) {

    #game-container {
        width: 32vw;
    }

    h1 {
        font-size: 40px;
    }

    button#restart-btn {
        font-size: 1vw;
    }

    #counter {
        font-size: 1vw;
    }

    #time,
    #moves {
        margin: 10px 15px;
    }

    button#toggle-animation-btn {
        font-size: 1.5vw;
    }

    #game-board-container {
        width: 32vw;
        padding: 1vw;
    }

    #game-board {
        grid-template-columns: repeat(4, 7.5vw);
        grid-template-rows: repeat(4, 7.5vw);
        width: 30vw;
    }

    .cell {
        width: 7.5vw;
        height: 7.5vw;
        font-size: 4vw;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {

    #game-container {
        width: 35vw;
    }

    h1 {
        font-size: 4vw;
    }

    button#restart-btn,
    #counter {
        font-size: 1.5vw;
    }

    #time,
    #moves {
        margin: 5px 10px;
    }

    #game-board-container {
        width: 100%;
        padding: 1.5vw;
    }

    #game-board {
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: repeat(4, 8vw);
    }

    .cell {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }
}

@media (max-width: 767px) {

    #game-container {
        width: 53vw;
    }

    h1 {
        font-size: 6vw;
    }

    button#restart-btn {
        font-size: 2vw;
    }

    #counter {
        font-size: 2vw;
    }

    #time,
    #moves {
        margin: 5px 10px;
    }

    button#toggle-animation-btn {
        font-size: 2vw;
    }

    #game-board-container {
        width: 53vw;
        padding: 2.5vw;
    }

    #game-board {
        grid-template-columns: repeat(4, 12vw);
        grid-template-rows: repeat(4, 12vw);
        width: 48vw;
    }

    .cell {
        width: 12vw;
        height: 12vw;
        font-size: 6vw;
    }
}

@media (max-width: 480px) {

    #game-container {
        width: 86vw;
    }

    h1 {
        font-size: 8vw;
    }

    button#restart-btn {
        font-size: 4vw;
    }

    #counter {
        font-size: 4vw;
    }

    button#toggle-animation-btn {
        font-size: 4vw;
    }

    #game-board-container {
        width: 86vw;
        padding: 3vw;
    }

    #game-board {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(4, 20vw);
        width: 80vw;
    }

    .cell {
        width: 20vw;
        height: 20vw;
        font-size: 10vw;
    }
}

@media (max-width: 320px) {

    #game-container {
        width: 100vw;
    }

    h1 {
        font-size: 14vw;
    }

    #game-info {
        justify-content: center;
    }

    button#restart-btn {
        width: 30vw;
        margin-right: 5px;
        padding: 0;
    }

    #counter {
        width: 40vw;
        margin-right: 0px;
        margin-left: 5px;
        display: block;
    }

    #time,
    #moves {
        margin: 0px;
    }

    button#toggle-animation-btn {
        font-size: 6vw;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #game-board-container {
        width: 80vw;
        padding: 0px;
    }

    .cell {
        font-size: 10vw;
    }
}