:root {
    --color-background: #A67B5B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    text-align: center;
    font-family: "Homemade Apple", serif;
    font-size: 20px;
    font-weight: bold;
    background-image: url("../assets/wood-pattern.png");
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Domine", serif;
    width: 440px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    margin: 0 auto;
    font-size: 40px;
    margin-top: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: #e2e2e2;
}

#toggle-animation-btn {
    margin: 10px;
}

#game-info {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

#game-info p {
    margin: 5px 0;
    color: #333;
}

#counter {
    display: flex;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#time,
#moves {
    margin-left: 10px;
    margin-right: 10px;
}

#game-board-container {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    position: relative;
    background-color: rgb(22, 21, 21);
}

@keyframes cellEntry {
    0% {
        transform: scale(0) translateY(100px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.cell {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border: 1px solid #000;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: static;
}

.cell.red {
    background-color: #9b1c31;
}

.cell.white {
    background-color: white;
}

.cell.target {
    color: #F2A900;
}

.cell.animated {
    animation: cellEntry 0.4s ease-out;
}

.cell.empty {
    z-index: -1;
}

.cell.empty {
    z-index: -1;
}

@media (min-width: 1367px) {

    #game-container {
        width: 520px;
    }

    h1 {
        font-size: 5rem;
    }

    button#restart-btn {
        font-size: 1.5rem;
    }

    #counter {
        font-size: 1.5rem;
    }

    #time,
    #moves {
        margin: 15px;
    }

    button#toggle-animation-btn {
        font-size: 1.5rem;
    }

    #game-board {
        grid-template-columns: repeat(4, 120px);
        grid-template-rows: repeat(4, 120px);

    }

    .cell {
        width: 120px;
        height: 120px;
        font-size: 5rem;
    }
}

@media (max-width: 480px) {

    #game-container {
        width: 100vw;
    }

    button#restart-btn {
        width: 25vw;
        font-size: 4vw;
        margin-left: 20px;
    }

    #counter {
        width: 30vw;
        font-size: 4vw;
        margin-right: 20px;
    }

    #time,
    #moves {
        margin: 5px;
    }

    button#toggle-animation-btn {
        width: 50vw;
        font-size: 4vw;
    }

    #game-board-container {
        width: 86vw;
        padding: 3vw;
    }

    #game-board {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(4, 20vw);
        width: 80vw;
    }

    .cell {
        width: 20vw;
        height: 20vw;
        font-size: 10vw;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 10vw;
    }

    #game-info {
        justify-content: center;
    }

    button#restart-btn {
        width: 30vw;
        margin-left: 0px;
        padding: 0;
        margin-right: 5px;
    }

    #counter {
        width: 40vw;
        margin-right: 0px;
        display: block;
        margin-left: 5px;
    }

    #time,
    #moves {
        margin: 0px;
    }

    button#toggle-animation-btn {
        width: 50vw;
        font-size: 6vw;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #game-board-container {
        width: 80vw;
        padding: 0px;
    }

    .cell {
        font-size: 10vw;
    }
}